<header class="bg-light text-center">
  <p>Lorem, ipsum dolor.</p>
  <h1>Responsive layouts don't have to be a struggle</h1>
</header>

<section>
  <h2 class="text-center">Quality Designs</h2>
  <div class="split">
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi minima odit velit blanditiis maiores tenetur omnis magnam iste. Obcaecati perspiciatis libero ipsam temporibus, doloremque voluptatum?</p>
    </div>
    <div>
      <p>Assumenda soluta deserunt ratione repudiandae. Nostrum laboriosam officiis aut molestiae minus voluptatem tempora ab incidunt totam. Est ut at a beatae similique sit numquam suscipit.</p>
    </div>
  </div>
</section>

<section  class="bg-dark">
  <div class="slipt">
    <div>
      <h2>Made custom for you</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis similique eveniet deleniti consequatur pariatur!</p>
    </div>
    <div>
      <img src="https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
  </div>
</section>
<section class="bg-accent">
  <div class="slipt">
    <div>
      <img src="https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
    <div>
      <h2>Created with care</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ratione nihil reiciendis placeat. Nisi repudiandae maiores dignissimos atque dolor porro est, dolores odio soluta alias!</p>
    </div>
  </div>
</section>